.App {
  text-align: center;
  background-color:orange;
  width: 100vh;
  margin: 20px auto ;
  min-height: 50vh;
  padding-top: 50px;
  font-size: 25px;
  line-height: 35px;
}


.image {
  width: 120px;
  border-radius: 50%;
  margin-top: 20px;
}

